body {
    margin: 0;
    padding: 0;
    background-color: rgb(230, 248, 248);
  }

.card-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

div.card {
    background-color: #dae8fa;
    min-height: 250px;
    min-width: 280px;
    box-shadow: 8px 8px rgb(127, 129, 141);
    padding: 8px;
    border-radius: 8px;
    margin: 10px;
  }

  div.item {
    background-color: #ffffffea;
    box-shadow: 4px 4px grey;
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
  }

  #new-card{
    border: 6px solid blue;
    border-radius: 8px;
    margin: 10px;
    min-width: 280px;
    height: 246px;
    padding: 8px;
  }