body {
    margin: 3%;
    padding: 0;
    background-image: url(https://drscdn.500px.org/photo/46419336/q%3D80_m%3D2000/v2?sig=32328c49bc55ec8afdb6ffdf7fa3c09da9ba7454cc17811f8b722769838f284d);
  }

.card-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

div.card {
    background-color: rgb(235, 232, 227);
    min-height: 250px;
    min-width: 280px;
    box-shadow: 8px 8px rgb(127, 129, 141);
    padding: 8px;
    border-radius: 8px;
    margin: 10px;
  }

  div.item {
    background-color: #ffffffea;
    box-shadow: 4px 4px grey;
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
  }

  #new-card{
    border: 6px solid blue;
    border-radius: 8px;
    margin: 10px;
    min-width: 280px;
    height: 246px;
    padding: 8px;
  }

  .card-titlebar{
    display: flex;
  }

  .card-delete{
    min-width: 15%;
    text-align: center;
  }

  .card-delete:hover{
    background-color: red !important;
  }

  .card-header{
    background-color: blue;
    min-width: 85%;
    color: white;
  }